.site-header{
	top: 0;
	background: $darkgrey;
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 9999;

	
	// .wordmark {
	// 	width: 150px;
		
		h1{
			
			display:inline-block;
			margin: 15px 0 0 90px;
			letter-spacing: 0.3px;
			font:2em 'avenir',sans-serif;
			
			a {
				color: white;
				text-decoration: none;
				transition:all 300ms linear;
				&:hover{
					color: $blue;
						
				}
			}


			
		
			span{
				display: block;
				font-family: roboto, sans-serif;
				letter-spacing: 0.3px;
				font-weight: lighter;
				font-size: 0.3em;
				margin-top: -10px;
				// margin: -10px 0 0 50px;
			}
			
		}
		

	// }
}
	.main-navigation {
	
		float:right;
  		display:flex;
		align-content: center;
		



		ul {
			
			display: none;
			list-style: none;
			margin: 0;
			padding-left: 0;
			background: rgb(117, 191, 247);
			position:absolute;
			top:100%;
			left:0;
			width:100%;
			visibility:hidden;
			opacity:0;
			transition:all 300ms linear;	

			
		}

		li {
			// float:none;
			text-align:right;
			align-items: center;
			padding: 10px 20px;
			
		}

		a {
			// display: block;
			text-decoration: none;
			transition:all 300ms linear;
			color: #fff;
		}

		// .current_page_item > a,
		// .current-menu-item > a,
		// .current_page_ancestor > a,
		// .current-menu-ancestor > a {
		// }
	}


/* Small menu. */
.menu-toggle{
	// position: relative;
	// top: -55px;
	color:#fff;
	font-size: 2em;
	cursor:pointer;
	background: none;
	border: none;
	outline: none;

}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	visibility:visible;
	opacity: 1;
	
}


@media screen and (min-width: 700px) {
	.site-header{
		background: transparent;
	}
	.menu-nav-container{
		margin-right: 70px;
	}
	.menu-toggle {
		display: none;
		position: relative;
		top: -55px;
	}
	.main-navigation ul {
		display: block;
	}
	
	.main-navigation {
		ul{
			padding:0;
			margin:20px 0;
			display: block;
			visibility: visible;
			opacity: 1;
			background: none;
			position: relative;
			top: 0;
			

		  }
		
		  li{
			float:left;
			padding: 0;
		  }

		 a
		 {
			display:block;
			font:300 18px 'roboto',sans-serif;
			text-decoration:none;
			padding:0 20px;
			line-height:50px;
			color: #fff;
		  }
		  a:hover{
			background:#08c;
		  }


	}


}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
